img {
  float: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
#subheader {
   display: auto;
  text-align: center;
  color: #ACA39E;
  font-size: 15pt;
}
#nav a{
  list-style-type: none;
  text-decoration: none;
  color: #8B8805;
    margin: 0;
    padding: 0px;
  float: left;
}
ul {
    float: left;
  text-decoration: none;
    padding-right: 10px;
}
header {
  padding-top: 100px;
  text-align: center;
}
p {
  color: #ACA39E;
  padding-left: 300px;
  padding-right: 300px;
}

#me {
  float: center;
}

#rhetoric p {
  float: left;
  padding-top: 00px;
}

iframe {
  float: center;
}
